
<li>
    <a href="@Url.Action("GioHang","GioHang")"
       style="font-weight: bold; text-decoration: none;">
        <i class="fa-solid fa-cart-plus"></i>Giỏ Hàng (@ViewBag.TongSoLuong)
    </a>
</li>

